.p-checkbox {
    width: 22px;
    height: 22px;

    .p-checkbox-box {
        border: 2px solid $form-element-border;
        background: $form-element-color;
        width: 22px;
        height: 22px;
        color: rgba(255, 255, 255, 0.87);
        border-radius: 6px;
        transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;

        .p-checkbox-icon {
            transition-duration: 0.2s;
            color: $primary-color-text;
            font-size: 14px;
        }

        &.p-highlight {
            border-color: $primary-background-color;
            background: $primary-background-color;
        }
    }

    &:not(.p-checkbox-disabled) .p-checkbox-box:hover {
        border-color: $primary-background-color;
    }

    &:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
        outline: 0 none;
        outline-offset: 0;
        box-shadow: 0 0 0 0.2rem rgba(147, 197, 253, 0.5);
        border-color: $primary-background-color;
    }

    &:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
        border-color: $primary-active-color;
        background: $primary-active-color;
        color: $primary-color-text;
    }

    &.p-invalid > .p-checkbox-box {
        border-color: $danger-background;
    }
}
