.p-confirm-popup {
    background: $form-element-color;
    color: $primary-color-text;
    border: 1px solid $form-element-border;
    border-radius: 6px;
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);

    .p-confirm-popup-content {
        padding: 1.25rem;
    }

    .p-confirm-popup-footer {
        text-align: right;
        padding: 0 1.25rem 1.25rem 1.25rem;

        button {
            margin: 0 0.5rem 0 0;
            width: auto;

            &:last-child {
                margin: 0;
            }
        }
    }

    &:after {
        border: solid rgba(7, 20, 38, 0);
        border-bottom-color: $form-element-color;
    }

    &:before {
        border: solid rgba(11, 33, 63, 0);
        border-bottom-color: $form-element-border;
    }

    &.p-confirm-popup-flipped:after {
        border-top-color: $form-element-color;
    }

    &.p-confirm-popup-flipped:before {
        border-top-color: $form-element-border;
    }

    .p-confirm-popup-icon {
        font-size: 1.5rem;
    }

    .p-confirm-popup-message {
        margin-left: 1rem;
    }
}
