.p-calendar.p-invalid.p-component > .p-inputtext {
    border-color: $danger-background;
}

.p-datepicker {
    padding: 0.5rem;
    background: $primary-color;
    color: rgba(255, 255, 255, 0.87);
    border: 1px solid $form-element-border;
    border-radius: 6px;

    &:not(.p-datepicker-inline) {
        background: $primary-color;
        border: 1px solid $form-element-border;
        box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);

        .p-datepicker-header {
            background: $primary-color;
        }
    }

    .p-datepicker-header {
        padding: 0.5rem;
        color: rgba(255, 255, 255, 0.87);
        background: $primary-color;
        font-weight: 700;
        margin: 0;
        border-bottom: 1px solid $form-element-border;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;

        .p-datepicker-prev, .p-datepicker-next {
            width: 2rem;
            height: 2rem;
            color: rgba(255, 255, 255, 0.6);
            border: 0 none;
            background: transparent;
            border-radius: 50%;
            transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;

            &:enabled:hover {
                color: rgba(255, 255, 255, 0.87);
                border-color: transparent;
                background: rgba(255, 255, 255, 0.03);
            }

            &:focus {
                outline: 0 none;
                outline-offset: 0;
                box-shadow: 0 0 0 0.2rem rgba(147, 197, 253, 0.5);
            }
        }

        .p-datepicker-title {
            line-height: 2rem;

            .p-datepicker-year, .p-datepicker-month {
                color: rgba(255, 255, 255, 0.87);
                transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
                font-weight: 700;
                padding: 0.5rem;

                &:enabled:hover {
                    color: $primary-background-color;
                }
            }

            .p-datepicker-month {
                margin-right: 0.5rem;
            }
        }
    }

    table {
        font-size: 1rem;
        margin: 0.5rem 0;

        th {
            padding: 0.5rem;

            > span {
                width: 2.5rem;
                height: 2.5rem;
            }
        }

        td {
            padding: 0.5rem;

            > span {
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 50%;
                transition: box-shadow 0.2s;
                border: 1px solid transparent;

                &.p-highlight {
                    color: rgba(255, 255, 255, 0.87);
                    background: rgba(147, 197, 253, 0.16);
                }

                &:focus {
                    outline: 0 none;
                    outline-offset: 0;
                    box-shadow: 0 0 0 0.2rem rgba(147, 197, 253, 0.5);
                }
            }

            &.p-datepicker-today > span {
                background: transparent;
                color: $primary-background-color;
                border-color: transparent;

                &.p-highlight {
                    color: rgba(255, 255, 255, 0.87);
                    background: rgba(147, 197, 253, 0.16);
                }
            }
        }
    }

    .p-datepicker-buttonbar {
        padding: 1rem 0;
        border-top: 1px solid $form-element-border;

        .p-button {
            width: auto;
        }
    }

    .p-timepicker {
        border-top: 1px solid $form-element-border;
        padding: 0.5rem;

        button {
            width: 2rem;
            height: 2rem;
            color: rgba(255, 255, 255, 0.6);
            border: 0 none;
            background: transparent;
            border-radius: 50%;
            transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;

            &:enabled:hover {
                color: rgba(255, 255, 255, 0.87);
                border-color: transparent;
                background: rgba(255, 255, 255, 0.03);
            }

            &:focus {
                outline: 0 none;
                outline-offset: 0;
                box-shadow: 0 0 0 0.2rem rgba(147, 197, 253, 0.5);
            }

            &:last-child {
                margin-top: 0.2em;
            }
        }

        span {
            font-size: 1.25rem;
        }

        > div {
            padding: 0 0.5rem;
        }
    }

    &.p-datepicker-timeonly .p-timepicker {
        border-top: 0 none;
    }

    .p-monthpicker {
        margin: 0.5rem 0;

        .p-monthpicker-month {
            padding: 0.5rem;
            transition: box-shadow 0.2s;
            border-radius: 6px;

            &.p-highlight {
                color: rgba(255, 255, 255, 0.87);
                background: rgba(147, 197, 253, 0.16);
            }
        }
    }

    .p-yearpicker {
        margin: 0.5rem 0;

        .p-yearpicker-year {
            padding: 0.5rem;
            transition: box-shadow 0.2s;
            border-radius: 6px;

            &.p-highlight {
                color: rgba(255, 255, 255, 0.87);
                background: rgba(147, 197, 253, 0.16);
            }
        }
    }

    &.p-datepicker-multiple-month .p-datepicker-group {
        border-left: 1px solid $form-element-border;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        padding-top: 0;
        padding-bottom: 0;

        &:first-child {
            padding-left: 0;
            border-left: 0 none;
        }

        &:last-child {
            padding-right: 0;
        }
    }

    &:not(.p-disabled) table td span:not(.p-highlight):not(.p-disabled):hover {
        background: rgba(255, 255, 255, 0.03);
    }

    &:not(.p-disabled) table td span:not(.p-highlight):not(.p-disabled):focus {
        outline: 0 none;
        outline-offset: 0;
        box-shadow: 0 0 0 0.2rem rgba(147, 197, 253, 0.5);
    }

    &:not(.p-disabled) .p-monthpicker .p-monthpicker-month:not(.p-disabled):not(.p-highlight):hover {
        background: rgba(255, 255, 255, 0.03);
    }

    &:not(.p-disabled) .p-monthpicker .p-monthpicker-month:not(.p-disabled):focus {
        outline: 0 none;
        outline-offset: 0;
        box-shadow: 0 0 0 0.2rem rgba(147, 197, 253, 0.5);
    }

    &:not(.p-disabled) .p-yearpicker .p-yearpicker-year:not(.p-disabled):not(.p-highlight):hover {
        background: rgba(255, 255, 255, 0.03);
    }

    &:not(.p-disabled) .p-yearpicker .p-yearpicker-year:not(.p-disabled):focus {
        outline: 0 none;
        outline-offset: 0;
        box-shadow: 0 0 0 0.2rem rgba(147, 197, 253, 0.5);
    }
}
