.p-menubar {
    .p-menubar-root-list {
        .p-menuitem {
            min-width: 12rem;
            text-align: right;
            @include styleclass('border-round-xl');

            .p-menuitem-content {
                .p-menuitem-link {
                    @include styleclass('py-3 px-4 justify-content-end');
                }
            }

            &:hover {
                background-color: rgba(255, 255, 255, 0.03);
            }
        }

        .p-menuitem-active {
            background-color: var(--secondary-color);
            @include styleclass('border-noround');
            @include styleclass('border-round-top-xl');

            .p-submenu-list {
                left: 0;
                background-color: var(--secondary-color);
                @include styleclass('border-round-bottom-xl');
            }

            &:hover {
                background-color: var(--secondary-color);
            }
        }
    }
}
