.p-multiselect {
    background: $form-element-color;
    border: 1px solid $form-element-border;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 6px;
    width: 100%;

    &:not(.p-disabled):hover {
        border-color: $primary-background-color;
    }

    &:not(.p-disabled).p-focus {
        outline: 0 none;
        outline-offset: 0;
        box-shadow: 0 0 0 0.2rem rgba(147, 197, 253, 0.5);
        border-color: $primary-background-color;
    }

    .p-multiselect-label {
        padding: 0.75rem 0.75rem;
        transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;

        &.p-placeholder {
            color: rgba(255, 255, 255, 0.6);
        }
    }

    &.p-multiselect-chip .p-multiselect-token {
        padding: 0.375rem 0.75rem;
        margin-right: 0.5rem;
        background: var(--primary-color);
        color: rgba(255, 255, 255, 0.87);
        border-radius: 16px;

        .p-multiselect-token-icon {
            margin-left: 0.5rem;
        }
    }

    .p-multiselect-trigger {
        background: transparent;
        color: $primary-color-text;
        width: 3rem;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }

    &.p-invalid.p-component {
        border-color: $danger-background;
    }

    &-panel {
        background: $form-element-color;
        color: $primary-color-text;
        border: 1px solid $form-element-border;
        border-radius: 6px;
        box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);

        .p-multiselect-header {
            padding: 0.75rem 1.25rem;
            border-bottom: 1px solid $form-element-border;
            color: $primary-color-text;
            background: $form-element-color;
            margin: 0;
            border-top-right-radius: 6px;
            border-top-left-radius: 6px;

            .p-multiselect-filter-container .p-inputtext {
                padding-right: 1.75rem;
            }

            .p-multiselect-filter-container .p-multiselect-filter-icon {
                right: 0.75rem;
                color: rgba(255, 255, 255, 0.6);
            }

            .p-checkbox {
                margin-right: 0.5rem;
            }

            .p-multiselect-close {
                margin-left: 0.5rem;
                width: 2rem;
                height: 2rem;
                color: rgba(255, 255, 255, 0.6);
                border: 0 none;
                background: transparent;
                border-radius: 50%;
                transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;

                &:enabled:hover {
                    color: $primary-color-text;
                    border-color: transparent;
                    background: rgba(255, 255, 255, 0.03);
                }

                &:focus {
                    outline: 0 none;
                    outline-offset: 0;
                    box-shadow: 0 0 0 0.2rem rgba(147, 197, 253, 0.5);
                }
            }
        }

        .p-multiselect-items {
            padding: 0.75rem 0;

            .p-multiselect-item {
                margin: 0;
                padding: 0.75rem 1.25rem;
                border: 0 none;
                color: $primary-color-text;
                background: transparent;
                transition: box-shadow 0.2s;
                border-radius: 0;

                &.p-highlight {
                    color: $primary-color-text;
                    background: rgba(232, 232, 232, 0.24);

                    &.p-focus {
                        background: rgba(232, 232, 232, 0.24);
                    }
                }

                &:not(.p-highlight):not(.p-disabled).p-focus {
                    color: $primary-color-text;
                }

                &:not(.p-highlight):not(.p-disabled):hover {
                    color: $primary-color-text;
                    background: rgba(100, 100, 100, 0.03);
                }

                .p-checkbox {
                    margin-right: 0.5rem;
                }

                &-group {
                    margin: 0;
                    padding: 0.75rem 1.25rem;
                    color: rgba(255, 255, 255, 0.87);
                    background: $secondary-background;
                    font-weight: 700;
                }
            }

            .p-multiselect-empty-message {
                padding: 0.75rem 1.25rem;
                color: rgba(255, 255, 255, 0.87);
                background: transparent;
            }
        }
    }
}

.p-inputwrapper-filled.p-multiselect.p-multiselect-chip .p-multiselect-label {
    padding: 0.375rem 0.75rem;
}

.p-input-filled .p-multiselect {
    background: $form-element-border;

    &:not(.p-disabled):hover {
        background-color: $form-element-border;
    }

    &:not(.p-disabled).p-focus {
        background-color: $form-element-border;
    }
}
