.p-paginator {
    color: rgba(255, 255, 255, 0.6);
    padding: 0.5rem 1rem;
    border-radius: 6px;

    .p-paginator-first, .p-paginator-prev, .p-paginator-next, .p-paginator-last {
        background-color: transparent;
        border: 0 none;
        color: rgba(255, 255, 255, 0.6);
        min-width: 3rem;
        height: 3rem;
        margin: 0.143rem;
        transition: box-shadow 0.2s;
        border-radius: 6px;

        &:not(.p-disabled):not(.p-highlight):hover {
            background: rgba(255, 255, 255, 0.03);
            border-color: transparent;
            color: rgba(255, 255, 255, 0.87);
        }
    }

    .p-paginator-first {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
    }

    .p-paginator-last {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }

    .p-dropdown {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        height: 3rem;

        .p-dropdown-label {
            padding-right: 0;
        }
    }

    .p-paginator-page-input {
        margin-left: 0.5rem;
        margin-right: 0.5rem;

        .p-inputtext {
            max-width: 3rem;
        }
    }

    .p-paginator-current {
        background-color: transparent;
        border: 0 none;
        color: rgba(255, 255, 255, 0.6);
        min-width: 3rem;
        height: 3rem;
        margin: 0.143rem;
        padding: 0 0.5rem;
    }

    .p-paginator-pages .p-paginator-page {
        background-color: transparent;
        border: 0 none;
        color: rgba(255, 255, 255, 0.6);
        min-width: 3rem;
        height: 3rem;
        margin: 0.143rem;
        transition: box-shadow 0.2s;
        border-radius: 6px;

        &.p-highlight {
            background: rgba(147, 197, 253, 0.16);
            border-color: rgba(147, 197, 253, 0.16);
            color: rgba(255, 255, 255, 0.87);
        }

        &:not(.p-highlight):hover {
            background: rgba(255, 255, 255, 0.03);
            border-color: transparent;
            color: rgba(255, 255, 255, 0.87);
        }
    }
}
