:root {
    color-scheme: light;
    --font-family: "Inter var", sans-serif;
    --font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    --text-color: #334155;
    --text-color-secondary: #64748b;
    --primary-color: #06b6d4;
    --primary-color-text: #ffffff;
    --primary-hover-color: #029bb0;
    --surface-0: #ffffff;
    --surface-50: #f8fafc;
    --surface-100: #f1f5f9;
    --surface-200: #e2e8f0;
    --surface-300: #cbd5e1;
    --surface-400: #94a3b8;
    --surface-500: #64748b;
    --surface-600: #475569;
    --surface-700: #334155;
    --surface-800: #1e293b;
    --surface-900: #0f172a;
    --surface-950: #020617;
    --gray-0: #ffffff;
    --gray-50: #f8fafc;
    --gray-100: #f1f5f9;
    --gray-200: #e2e8f0;
    --gray-300: #cbd5e1;
    --gray-400: #94a3b8;
    --gray-500: #64748b;
    --gray-600: #475569;
    --gray-700: #334155;
    --gray-800: #1e293b;
    --gray-900: #0f172a;
    --gray-950: #020617;
    --content-padding: 1.125rem;
    --inline-spacing: 0.5rem;
    --border-radius: 6px;
    --surface-ground: #f8fafc;
    --surface-section: #ffffff;
    --surface-card: #ffffff;
    --surface-overlay: #ffffff;
    --surface-border: #e2e8f0;
    --surface-hover: #f1f5f9;
    --focus-ring: none;
    --maskbg: rgba(0, 0, 0, 0.4);
    --highlight-bg: #ecfeff;
    --highlight-text-color: #0e7490;
    --blue-50: #f5f9ff;
    --blue-100: #d0e1fd;
    --blue-200: #abc9fb;
    --blue-300: #85b2f9;
    --blue-400: #609af8;
    --blue-500: #3b82f6;
    --blue-600: #326fd1;
    --blue-700: #295bac;
    --blue-800: #204887;
    --blue-900: #183462;
    --green-50: #f4fcf7;
    --green-100: #caf1d8;
    --green-200: #a0e6ba;
    --green-300: #76db9b;
    --green-400: #4cd07d;
    --green-500: #22c55e;
    --green-600: #1da750;
    --green-700: #188a42;
    --green-800: #136c34;
    --green-900: #0e4f26;
    --yellow-50: #fefbf3;
    --yellow-100: #faedc4;
    --yellow-200: #f6de95;
    --yellow-300: #f2d066;
    --yellow-400: #eec137;
    --yellow-500: #eab308;
    --yellow-600: #c79807;
    --yellow-700: #a47d06;
    --yellow-800: #816204;
    --yellow-900: #5e4803;
    --cyan-50: #f3fbfd;
    --cyan-100: #c3edf5;
    --cyan-200: #94e0ed;
    --cyan-300: #65d2e4;
    --cyan-400: #35c4dc;
    --cyan-500: #06b6d4;
    --cyan-600: #059bb4;
    --cyan-700: #047f94;
    --cyan-800: #036475;
    --cyan-900: #024955;
    --pink-50: #fef6fa;
    --pink-100: #fad3e7;
    --pink-200: #f7b0d3;
    --pink-300: #f38ec0;
    --pink-400: #f06bac;
    --pink-500: #ec4899;
    --pink-600: #c93d82;
    --pink-700: #a5326b;
    --pink-800: #822854;
    --pink-900: #5e1d3d;
    --indigo-50: #f7f7fe;
    --indigo-100: #dadafc;
    --indigo-200: #bcbdf9;
    --indigo-300: #9ea0f6;
    --indigo-400: #8183f4;
    --indigo-500: #6366f1;
    --indigo-600: #5457cd;
    --indigo-700: #4547a9;
    --indigo-800: #363885;
    --indigo-900: #282960;
    --teal-50: #f3fbfb;
    --teal-100: #c7eeea;
    --teal-200: #9ae0d9;
    --teal-300: #6dd3c8;
    --teal-400: #41c5b7;
    --teal-500: #14b8a6;
    --teal-600: #119c8d;
    --teal-700: #0e8174;
    --teal-800: #0b655b;
    --teal-900: #084a42;
    --orange-50: #fff8f3;
    --orange-100: #feddc7;
    --orange-200: #fcc39b;
    --orange-300: #fba86f;
    --orange-400: #fa8e42;
    --orange-500: #f97316;
    --orange-600: #d46213;
    --orange-700: #ae510f;
    --orange-800: #893f0c;
    --orange-900: #642e09;
    --bluegray-50: #f7f8f9;
    --bluegray-100: #dadee3;
    --bluegray-200: #bcc3cd;
    --bluegray-300: #9fa9b7;
    --bluegray-400: #818ea1;
    --bluegray-500: #64748b;
    --bluegray-600: #556376;
    --bluegray-700: #465161;
    --bluegray-800: #37404c;
    --bluegray-900: #282e38;
    --purple-50: #fbf7ff;
    --purple-100: #ead6fd;
    --purple-200: #dab6fc;
    --purple-300: #c996fa;
    --purple-400: #b975f9;
    --purple-500: #a855f7;
    --purple-600: #8f48d2;
    --purple-700: #763cad;
    --purple-800: #5c2f88;
    --purple-900: #432263;
    --red-50: #fff5f5;
    --red-100: #ffd0ce;
    --red-200: #ffaca7;
    --red-300: #ff8780;
    --red-400: #ff6259;
    --red-500: #ff3d32;
    --red-600: #d9342b;
    --red-700: #b32b23;
    --red-800: #8c221c;
    --red-900: #661814;
    --primary-50: #f3fbfd;
    --primary-100: #c3edf5;
    --primary-200: #94e0ed;
    --primary-300: #65d2e4;
    --primary-400: #35c4dc;
    --primary-500: #06b6d4;
    --primary-600: #059bb4;
    --primary-700: #047f94;
    --primary-800: #036475;
    --primary-900: #024955;
}

* {
    box-sizing: border-box;
}

$primary-color: var(--primary-color);
$form-element-color: var(--surface-0);
$form-element-border: var(--gray-400);
$primary-background-color: var(--primary-color);
$primary-color-text: var(--text-color);
$secondary-color-text: var(--text-color-secondary);
$var6: #1d2530;
$var7: #363d47;
$var8: #4f565e;
$var9: #686e75;
$var10: #82868c;
$var11: #9b9ea3;
$var12: #b4b6ba;
$var13: #cdcfd1;
$var14: #e6e7e8;
$var15: #ffffff;
$danger-background: #e01111;
$var17: #f5f9ff;
$var18: #d0e1fd;
$var19: #abc9fb;
$var20: #85b2f9;
$var21: #609af8;
$var22: #3b82f6;
$var23: #326fd1;
$var24: #295bac;
$var25: #204887;
$var26: #183462;
$var27: #f4fcf7;
$var28: #caf1d8;
$var29: #a0e6ba;
$var30: #76db9b;
$var31: #4cd07d;
$var32: #22c55e;
$var33: #1da750;
$var34: #188a42;
$var35: #136c34;
$var36: #0e4f26;
$var37: #fefbf3;
$var38: #faedc4;
$var39: #f6de95;
$var40: #f2d066;
$var41: #eec137;
$var42: #eab308;
$var43: #c79807;
$var44: #a47d06;
$var45: #816204;
$var46: #5e4803;
$var47: #f3fbfd;
$var48: #c3edf5;
$var49: #94e0ed;
$var50: #65d2e4;
$var51: #35c4dc;
$var52: #06b6d4;
$var53: #059bb4;
$var54: #047f94;
$var55: #036475;
$var56: #024955;
$var57: #fef6fa;
$var58: #fad3e7;
$var59: #f7b0d3;
$var60: #f38ec0;
$var61: #f06bac;
$var62: #ec4899;
$var63: #c93d82;
$var64: #a5326b;
$var65: #822854;
$var66: #5e1d3d;
$var67: #f7f7fe;
$var68: #dadafc;
$var69: #bcbdf9;
$var70: #9ea0f6;
$var71: #8183f4;
$var72: #6366f1;
$var73: #5457cd;
$var74: #4547a9;
$var75: #363885;
$var76: #282960;
$var77: #f3fbfb;
$var78: #c7eeea;
$var79: #9ae0d9;
$var80: #6dd3c8;
$var81: #41c5b7;
$var82: #14b8a6;
$var83: #119c8d;
$var84: #0e8174;
$var85: #0b655b;
$var86: #084a42;
$var87: #fff8f3;
$var88: #feddc7;
$var89: #fcc39b;
$var90: #fba86f;
$var91: #fa8e42;
$var92: #f97316;
$var93: #d46213;
$var94: #ae510f;
$var95: #893f0c;
$var96: #642e09;
$var97: #f7f8f9;
$var98: #dadee3;
$var99: #bcc3cd;
$var100: #9fa9b7;
$var101: #818ea1;
$var102: #64748b;
$var103: #556376;
$var104: #465161;
$var105: #37404c;
$var106: #282e38;
$var107: #fbf7ff;
$var108: #ead6fd;
$var109: #dab6fc;
$var110: #c996fa;
$var111: #b975f9;
$var112: #a855f7;
$var113: #8f48d2;
$var114: #763cad;
$var115: #5c2f88;
$var116: #432263;
$var117: #fff5f5;
$var118: #ffd0ce;
$var119: #ffaca7;
$var120: #ff8780;
$var121: #ff6259;
$var122: #ff3d32;
$var123: #d9342b;
$var124: #b32b23;
$var125: #8c221c;
$var126: #661814;
$var127: #fafcff;
$var128: #e5f1ff;
$var129: #d1e6fe;
$var130: #bcdbfe;
$var131: #a8d0fd;
$var132: #93c5fd;
$var133: #7da7d7;
$var134: #678ab1;
$var135: #516c8b;
$var136: #3b4f65;
$var137: #233752;
$secondary-background: var(--gray-100);
$primary-active-color: var(--primary-hover-color);
$primary-hover-color: var(--primary-hover-color);
$var141: #eb9a9c;
$var142: #ffcf91;
$var143: #93deac;
$var144: #F48FB1;
$var145: #CBD5E1;
$var146: #b0bfd1;
$var147: #dbe2ea;
$var148: #95a9c2;
$var149: #b3d6fe;
$var150: #449bfc;
$success-background: #12e04b;
$var152: #65eb95;
$var153: #aaf4c5;
$var154: #44e67f;
$var155: #FCD34D;
$var156: #fbcb2d;
$var157: #fde082;
$var158: #fbc30c;
$var159: #D8B4FE;
$var160: #c289fd;
$var161: #e4cbfe;
$var162: #ab5efd;
$var163: #fb7d7d;
$var164: #fdc0c0;
$var165: #f95454;
$var166: #0d1a2c;
$var167: #0a1f3c;
$var168: #e9e9ff;
$var169: #696cff;
$var170: #e4f8f0;
$var171: #1ea97c;
$var172: #fff2e2;
$var173: #cc8925;
$var174: #ffe7e6;
$var175: #ff5757;
$var176: #f8f9fa;

body {
    margin: 0;
    background-color: var(--gray-200);
    min-height: 100vh;
    color: var(--text-color);
    font-family: Helvetica, sans-serif;
}

.p-component {
    &-overlay {
        background-color: rgba(0, 0, 0, 0.4);
        transition-duration: 0.2s;

        &-enter {
            animation: p-component-overlay-enter-animation 150ms forwards;
        }

        &-leave {
            animation: p-component-overlay-leave-animation 150ms forwards;
        }
    }
}

@import 'Breadcrumbs';
@import 'DataTable';
@import 'Column';
@import 'Menubar';
@import 'Button';
@import 'Dialog';
@import 'InputText';
@import 'Dropdown';
@import 'Datepicker';
@import 'Text';
@import 'Checkbox';
@import 'ConfirmPopup';
@import 'Paginator';
@import 'MultiSelect';
@import 'RadioButton';
@import 'Tooltip';
@import 'FileUpload';
@import 'InputSwitch';
@import 'Image';
@import 'Galleria';
@import 'Tag';