@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: var(--gray-200);
  min-height: 100vh;
  color: var(--text-color);
  font-family: Helvetica, sans-serif;
}
